<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /magang/luthfiyana/

RewriteRule ^storyland/ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /magang/luthfiyana/index.html [L]
</IfModule>
